h1 {
    color: black;
    text-align: center;
    font-family: fantasy;
}

h2 {
    font-family: fantasy;
}

li,p {
    font-family: cursive;

}

body {
    background-color: antiquewhite;
}

div {
   text-align: center; 
   
}

.add-border {
    border: 5px solid black;
    border-radius: 30px;
}

